
<div class="wrapper">
   <div class="block1">
      <div class="block1__contant">
         <div class="block1__title">children staff</div>
         <nav>
            <a routerLink="/pampers">pampers</a><br>
            <a routerLink="/shool">shool</a><br>
            <a routerLink="/toys">toys</a><br>
         </nav>
      </div>
   </div>
   
   <div class="block2">
      <div class="block2__contant">
         <div class="block2__title">clothers</div>
         <nav>
            <a routerLink="/ChildrenClothes">ChildrenClothes</a><br>
            <a routerLink="/MensClothes">MensClothes</a><br>
            <a routerLink="/WomensClothes">WomensClothes</a><br>
         </nav>
      </div>
   </div>
   
   
</div>
<div class="show">
   <router-outlet></router-outlet>
</div>



